@import url('https://fonts.googleapis.com/css?family=Hind:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

.body{
    margin: 0px;
    padding: 0px;
}

/* card */

.card_main{
    transition: background-size .2s ease-in-out;
    height: 800px;
    width: 400px;
    cursor: pointer;
    border-radius: 40px;
    margin: 5px 5px;
    justify-content: space-around;
}

.top_card{
    height: 40%;
    width: 100%;
}

.card_data{
    transition: 0.3s ease;
    transition-delay: 0.2s;
    padding-top: 5%;
    height: 60%;
    width: 100%;
}

.card_main:hover{
    background-size: 155%;
}

.card_main:hover > .card_data{
    background-color: #ffffff23;
}

/* card data */

.notification{
    background-color: #ffffff;
    font-family: 'Hind', sans-serif;
    font-size: 20pt;
    width: 20%;
    text-align: center;
    margin: 5px auto 0 auto;
    border-radius: 7px;
    padding: 5px 5px 0px 5px;
    line-height: 25pt;
}

.notification span{
    color: #000;
    mix-blend-mode: multiply;
}

.spacer{
    margin-top: 50px;
}

h1{
    font-family: 'Alata', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    font-size: 2.5rem;
    margin-top: 2%;
}

.line-short{
    width: 15%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 5%;
}

.teaser{
    font-family: 'Alata', sans-serif;
    width: 90%;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    margin: 50px auto 0 auto;
}

/* All Cards */

.discovery_all{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
}

/* images */

.the_path{
    background: url(./Images/the_path.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}

.the_path:hover{
    background-size: 155%;
}

.the_future{
    background: url(./Images/the_future.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
}

.the_future:hover{
    background-size: 165%;
}

.the_fox{
    background: url(./Images/the_fox.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
}

.the_fox:hover{
    background-size: 165%;
}